:root {
  --font-color: rgb(85, 85, 85);
  --bg-color: #ffffff;
  --svg-color: #374151;
  --bookmark-mask-bg-color: #05060899;
  --bookmark-bg-color: #ffffff;

  --bookmark-border-color: transparent;
  --bookmark-hover-color: #e8eaf1;

  --widget-shadow-color: #e8e6e6;
  --widget-bg-color: #ffffff;
  --widget-font-color: #595a5e;
  --widget-hover-font-color: #000000;
}